# Virtual Environment
venv_3_11/
venv/
env/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Audio files
*.mp3
*.wav
*.ogg

# Data files
data/vector_store/

# Local development settings
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db
